<h1>Listed all articles</h1>
<p><%=link_to 'Create new article', new_article_path %></p>
  
<% @articles.reverse.each do |article| %>
<table>
  <tr>
    <td style="width: 85%"><h2><%=article.title %></h2></td>
    <td class="crud">
      <h4>
      <%=link_to 'Show', article_path(article) , class: "label label-info" %>
      <%=link_to 'Edit', edit_article_path(article), class: "label label-warning" %>
      <%=link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"}, class: "label label-danger" %>
      </h4>
    </td>
  </tr>
  <tr>
    <td><p><%=article.description %></p></td>
  </tr>
</table>
<% end %>